<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>무장애 IN 성동구</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>quld7x8r88</string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>사운드 사용을 위한 권한 허용</string>
	<key>NSCalendarsUsageDescription</key>
	<string>날짜 정보 사용을 위한 권한 허용</string>
	<key>NSContactsUsageDescription</key>
	<string>장소 전화연결을 위한 권한 허용</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>도보 길안내 기능과 장소 거리 계산을 위한 위치 정보 권한을 허용해주세요.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>도보 길안내 기능과 장소 거리 계산을 위한 위치 정보 권한을 허용해주세요.</string>
	<key>NSMotionUsageDescription</key>
	<string>동작 사용을 위한 권한 허용</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>음성 사용을 위한 권한 허용</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>사운드 사용을 위한 권한 허용</string>
</dict>
</plist>
